* { margin: 0;
    padding: 0;  }

h1 {
    text-align: center;
    font-size: 15vh;
    color: #a37dc7;
    font: size 700rem;  }

.encabezado {
    background-position: top;
    background-color: white;  }

.menuSuperior {
    list-style: none;
    text-align: center;
    background-color: blanchedalmond;  }

.menuSuperior li {
    display: inline-block;
    padding: 1.2rem;
    font-weight: 600;
    padding-left: 1rem;  }

.menuSuperior h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;  }

.menuSuperior label {
    font-weight: 600;
    color: #a37dc7;
    font-size: 0.5cm;
    margin-right: 1rem;  }

.menuCentral {
    list-style: none;
    text-align: center;
    background-color: blanchedalmond;  }

.menuCentral li {
    display: inline-block;
    padding: 1rem;
    font-weight: 600;  }

h2 {
    text-align: center;  }

.container-box{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;  }

.container-box .box{
    margin: 0.2cm;
    padding: 0.2cm; }

img{
    height: auto;
    width: auto;
    max-height: 800px;
    max-width: 400px;
 }

.footer{
    display: flex;
    border-width: 0.05cm;
    background-color: blanchedalmond;  }

.contacto {
    text-align: left;
    padding: 4rem;  }

.contacto p {
    padding: 1rem;  }

.medios {
    text-align: left;
    padding: 4rem;  }

.medios p {
    padding: 1rem;  }

.medios img {
    width: 16rem;  }

.mediosdepago img {
    width: 16rem;  }
