* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
header {
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
   
}

h1 {
    text-align: center;
    font-size: 15vh;
    color: #a37dc7;
    font-size: 5.5em;
    background-color:rgb(255, 243, 226);
}

.encabezado {
    position: relative;
    /* background-image: top; */
    background-color: white;
    z-index: 10;
    background-color: rgb(255, 243, 226);
    box-shadow: 0 4px 40px -22px black;
}

.encabezado div {
    height: 62px;
    position: relative;
    
}

.menuSuperior {
    
    list-style: none;
    text-align: center;
    background-color: rgb(255, 243, 226);
    /* position: absolute; */
    /* margin-left: 25%;
    margin-right: 10px; */
     margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menuSuperior ul {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuSuperior li {
    display: inline-block;
    padding: 1.2rem;
    font-weight: 600;
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1vh;
   
    

}

.menuSuperior li:hover {
    background-color: rgb(252, 229, 194);
    transition: 800ms;
}


.menuSuperior a {
    text-decoration: none;
    color: #a37dc7;
    font-size: 18px;
     display: flex;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
}

/* buscado lupita */

 #ctn-icon-search{
    position: absolute;
    right: 1.2rem;
    top: 90px;
    height: 54%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 25%;
   
}


#ctn-icon-search i{
    font-size: 18px;
    color: #a37dc7;
    cursor: pointer;
    transition: all 300ms;
    

}
#ctn-icon-search i:hover{
    color: #8f62b9;
}

#ctn-bar-search {
    position: relative;
    top: -80px;
    width: 100%;
    background: white;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bar-search input {
    display: block;
    width: 1000px;
    margin: auto;
    padding: 10px;
    font-size: 18px;


}

#box-search {
    position: fixed;
    top:  165px;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    margin-top: 80px;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a {
    display: block;
    width: 1200px;
    color: #777;
    padding: 12px 20px;

}

#box-search li a:hover {
    background-color: blanchedalmond;
}


#box-search li a i{
    margin-right: 10px;
    color: #a37dc7;
}

#cover-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 7;
    display: none;

}
/* creación de carrusel index */

#ConteItemsCarrusel {
display: grid;
    height: 350px;
    margin: 50;
    overflow: hidden;
    position: relative;
    
}

.flechaCarrusel{
    opacity: 0.8; ;
    color: blanchedalmond;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 20px;
    pointer-events: none;
}
.flechaCarrusel i {
    font-size: 30px;
    pointer-events: unset;
}
.flechaCarrusel i:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
    
}

.flechaCarrusel i a{
    pointer-events: unset;
}



.promociones {

    background-image: url(./img/promocion.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;
    margin-top: 0rem;
    padding-top: 5rem;
 


}

.promociones h2 {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: white;
}


.nuevaTemporada {

    background-image: url(./img/promocion1.png);
    background-position: top;
    height: 50vh;
    margin-top: 0rem;
    padding-top: 5rem;

}

.nuevaTemporada h2 {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: white;
}


/* fin creacion de carrusel en index */

.imagencentral {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
   
}

#grilla {
    display: grid;
    grid-template-areas: 
    "p img"
    "img p";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-left: 160px;
    margin-right: 160px;
}

.imagencentral p {
    margin-top: 160px;
    size: 50px;
    font-size: 2.8vh;
    margin-left: 160px;
    margin-right: 160px;
}

.imagencentral img {
    border-radius: 50%;
    padding: 60px;
    margin-right: 160px;
    margin-left: 160px;
}

.imagencentral2 img{
    border-radius: none;
}
/* sección de los emprendimiento */

.emprendimientos-seccion {
    display: flex;
    flex-direction: column;
    background-color: #c7beb165;
    margin: 3em 4rem 4rem 4rem;
}

.emprendimientos-seccion section {

    padding: 5rem;
    margin: 3rem;
    padding-bottom: 0rem;
    padding-top: 0;

}

.emprendimientos {
    text-align: center;
    font-size: 3rem;
    color: black;
    font-family: 'Sansita', sans-serif;
    font-weight: 10;
    margin: 3rem 3rem 1rem 3rem;
    padding-bottom: 0;
    font-weight: 400;
    font-style: italic;
}

.encuentraloquebuscas {
    text-align: center;
    font-family: 'Roboto', sans-serif;
        color: black;
    padding-top: 0rem;
    margin: 2rem 5rem 5rem 5rem;

}




.imagenEmprendimiento {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }

.imagenProducto img {
    width: 60%;
    padding: 4rem

    
}

.imagenProducto p {

    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #a37dc7;
    font-weight: 600;
    border-radius: 50em;
    font-size: 20;
}

.imagenProducto img {
    border-radius: 50em;
    padding: 30px;
  margin-left: 80px;
}

.imagenProducto a {
    text-decoration: none;
}

h2 {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.hh1{
    font-family: 'Playfair Display', serif;
    font-size:40px;
    color: #a37dc7;
    
}

.p2 {
   
    text-align: left;
   
    
}

.p3 {
    text-align: center;
}

.inteegran li {
    text-align: center;
    display: inline-block;
}


.container-box{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;  }

.container-box .box{
    margin: 0.2cm;
    padding: 0.2cm; }

img{
    height: auto;
    width: auto;
    max-height: 800px;
    max-width: 400px;
 }

 .footer {
    display: flex;
    border-width: 0.05cm;
    background-color: rgb(255, 243, 226);;
}

.footer p {
    font-family: 'Roboto', sans-serif;
}
.contacto {
    text-align: left;
    padding: 4rem;
}

.contacto p {
    padding: 1rem;
}

.medios {
    text-align: left;
    padding: 4rem;
}

.medios p {
    padding: 1rem;
}

.medios img {
    width: 16rem;
}

@media (min-width: 320px) and (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 15vh;
        color: #a37dc7
    }


    .menuSuperior {
        list-style: none;
        text-align: center;
        background-color: rgb(255, 243, 226);
    }

    .menuSuperior li {
        display: inline-block;
        padding: 1.2rem;
        font-weight: 600;
        padding-left: 1rem;


    }

    .menuSuperior h1 {
        font-family: 'Playfair Display', serif;
        text-align: center;

    }

    .menuSuperior label {
        font-weight: 600;
        color: #a37dc7;
        font-size: 0.5cm;
        margin-right: 1rem;

    }

    .promociones {
        height: 60vh;
        margin-top: 2rem;
        padding-top: 5rem;

    }

    .promociones h2{
        font-size: 2em;
    }

    .nuevaTemporada {

        height: 60vh;
        margin-top: 2rem;
        padding-top: 5rem ;
        width: 100%;
               background-repeat: no-repeat;

    }

    .nuevaTemporada h2 {
        font-size: 2em;
  
    }


    .emprendimientos-seccion {
        display: flex;
        flex-direction: column;
        margin: 1em 1em 0em 1rem;

    }

    .emprendimientos {
        text-align: center;
        font-size: 2rem;

    }

    .encuentraloquebuscas {
        margin: 1em 1em 0em 1rem;
    }

    .imagenEmprendimiento {
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    .imagenProducto img {
        width: 40%;
        padding: 5rem 5rem 5rem 6rem;


    }

      .footer {
        display: flex;
        background-color: rgb(255, 243, 226);;
        flex-direction: column;
        margin: 0;

      }
      .footer div {
        padding: 1rem;
      }
    
}
